/* Estilos generales */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1b1b1b;
    color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  h2, h3 {
    color: #e0e0e0;
    font-family: 'Playfair Display', serif; /* Letra elegante para los títulos */
    margin-bottom: 20px;
    text-align: justify;
  }
  
  /* Contenedor del formulario */
  form {
    background-color: #2c2c2c;
    border-radius: 10px;
    padding: 40px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
  }
  
  /* Opciones de las preguntas */
  label {
    display: block;
    text-align: justify;
    margin: 10px 0;
    cursor: pointer;
    font-size: 16px;
  }
  
  input[type="radio"] {
    margin-right: 10px;
  }
  
  /* Botones o interacciones */
  button {
    background-color: #4a90e2;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #357abd;
  }
  
  /* Estilo para los resultados */
  .resultados {
    margin-top: 30px;
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
  }
  
  .resultados p {
    font-size: 18px;
    color: #ffcc00; /* Un color dorado para resaltar */
  }
  
  button {
    background-color: #d9534f; /* Rojo para indicar eliminación */
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #c9302c; /* Color más oscuro al pasar el mouse */
  }
  